<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=0.8" />
    <title>여행 웹사이트</title>
    <link rel="stylesheet" href="/styles.css" />
    <style>
        .button-container2 {
            text-align: left;
            margin-top: 1%;
            margin-left: 20%;
            margin-right: 20%;
            flex-direction: row;
            justify-content: space-evenly;
            display: flex;
            align-items: center;
        }

        .gallery {
            display: block;
        }

        .diary_container2 {
            background-color:antiquewhite;
            border: 1px solid #ccc;
            border-radius: 20px;
            margin-top: 60px;
            width: 30%;
            height: 600px;
            padding: 0 5px;
            margin-left: 8%;
            float: left;
        }

        .user_img {
            text-align: center;
        }

        .user_img img {
            margin-top: 10%;
            margin-bottom: 3%;
            width: 60%;
            border-radius: 150px;
        }

        .user_name {
            font-size: 20px;
        }

        .user_nick {
            font-size: 17px;
            text-align: center;
        }

        .diary_container {
            background-color:antiquewhite;
            border: 1px solid #ccc;
            border-radius: 20px;
            margin-top: 60px;
            width: 50%;
            height: 580px;
            padding: 10px;
            margin-right: 8%;
            float: right;
            display: flex;
            justify-content: center;
        }

        .diary_list {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, auto);
            gap: 10px;
            width: 100%;
            height: 96%;
            overflow-y: auto;
            padding: 10px;
        }

        .diary_list::-webkit-scrollbar {
            width: 8px;
        }

        .diary_list::-webkit-scrollbar-thumb {
            height: 30%;
            background: #f9a296;
            border-radius: 10px;
        }

        .diary_list::-webkit-scrollbar-track {
            background: rgba(33, 122, 244, 0.1);
        }

        .card {
            box-sizing: border-box;
            border: none;
            border-radius: 12px;
            padding: 5px;
            /* margin-bottom: 7%; */
            text-align: center;
            background-color: #fff;
            width: 90%;
            height:60%;
        }

        .card img {
            height:80%;
            border-radius: 10px;
        }

        #myPageOptions {
            display: none;
            text-align: center;
            margin-top: 20px;
        }

    </style>

</head>

<body>
    <div class="header">
        <img src="/images/logo.png" alt="로고" class="logo" onclick="redirectToMain()" />
        <div class="button-container">
            <button class="button" onclick="redirectToMain()">여행 스토리</button>
            <button class="button" onclick="gototour()">여행지 추천</button>
            <button class="button" onclick="gotofestival()">축제</button>
            <button class="button" onclick="gotocourse()">경로 추천</button>
            <button class="button" onclick="toggleMyPageOptions()">마이페이지</button>
        </div>
        <img src="/images/user.png" alt="사용자" class="user-image" onclick="toggleUserMenu()" />
        <div class="user-menu" id="userMenu">
            <div class="user-menu-item">
                <button class="button" onclick="register()">
                    회원가입
                </button>
            </div>
            <div class="user-menu-item">
                <button class="button" onclick="login()">로그인</button>
            </div>
            <div class="user-menu-item">
                <button class="button" onclick="logout()">로그아웃</button>
            </div>
        </div>
    </div>
    <hr class="custom" />

    <div id="myPageOptions">
        <button class="button" onclick="gotoMyPage()">여행 만들기</button>
        <button class="button" onclick="gotodiary()">일기 작성</button>
        <button class="button" onclick="gotowishlist()">관심 리스트</button>
        <button class="button" onclick="gotoretouch()">
            사용자 정보 수정
        </button>
    </div>
    <div class="gallery" id="gallery">
        <div class="diary_container2">
            <div class="user_img">
                <img src="<%=session.userimage%>">
            </div>
            <div class="user_nick">
                <h2>username</h2>
                <h3 class="user_name" style="color: coral;"><%= session.username %></h3>
            </div>
        </div>

        <div class="diary_container">
            <div class="diary_list">
                <% list.forEach(list=> { %>
                    <div class="card">
                        <a href="/diary-details/<%= list.diary_id %>">
                            <img src="<%= list.photo_url %>" alt="<%= list.title %>" />
                            <div class="description">
                                <%= list.title %>
                            </div>
                        </a>
                    </div>
                    <% }); %>
            </div>
        </div>

    </div>


    <script>
        var travels = [];

        function toggleUserMenu() {
            var userMenu = document.getElementById("userMenu");
            if (userMenu.style.display === "block") {
                userMenu.style.display = "none";
            } else {
                userMenu.style.display = "block";
            }
        }



        function gotofestival() {
            window.location.href = "/festival";
        }

        function gototour() {
            window.location.href = "/tour";
        }

        function gotocourse() {
            window.location.href = "/course";
        }

        function gotoMyPage() {
            window.location.href = "/mypage"; // 이 경로는 Node.js 서버에서 설정한 라우트와 일치해야 합니다.
        }

        function gotodiary() {
            window.location.href = "/diary";
        }

        function gotowishlist() {
            window.location.href = "/wishlist";
        }

        function register() {
            alert("회원가입 페이지로 이동합니다.");
            window.location.href = "/signup";
        }

        function login() {
            alert("로그인 페이지로 이동합니다.");
            window.location.href = "/login";
        }

        function logout() {
            alert("로그아웃합니다.");
            window.location.href = "/logout";
        }

        function redirectToMain() {
            window.location.href = "/";
        }

        function gotoMyPage() {
            window.location.href = "/maketravel/<%=session.user_id%>";
        }


        function gotoretouch() {
            window.location.href = "/retouch/<%=session.user_id%>";
        }

        function toggleMyPageOptions() {
            var myPageOptions = document.getElementById("myPageOptions");
            if (myPageOptions.style.display === "block") {
                myPageOptions.style.display = "none";
            } else {
                myPageOptions.style.display = "block";
            }
        }
    </script>
</body>

</html>