<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title><%= course.subject %> - 여행지 정보</title>
        <link rel="stylesheet" href="/styles.css" />
        <style>
            .content {
                text-align: center; /* 중앙 정렬 */
                margin: 20px auto; /* 위아래 여백 */
                max-width: 900px; /* 최대 너비 */
            }
            .details {
                max-width: 900px;
                margin: 20px auto;
                text-align: left;
            }
            .back-button {
                display: block;
                margin: 20px auto;
                padding: 10px 20px;
                font-size: 16px;
                cursor: pointer;
            }
        </style>
    </head>
    <body>
        <div class="header">
            <h1><%= course.subject %></h1>
        </div>
        <div class="content">
            <img
                src="<%= course.image %>"
                alt="<%= course.subject %>"
                style="max-width: 100%; height: auto; margin: 0 auto"
            />
            <div class="details">
                <h2>요약</h2>
                <p><%= course.summary %></p>
                <h2>태그</h2>
                <p><%= course.tag %></p>
                <h2>도시 및 구</h2>
                <p><%= course.city %> - <%= course.gu %></p>
                <h2>코스</h2>
                <p><%= course.course %></p>
                <h2>날짜</h2>
                <p><%= course.date %></p>
            </div>
        </div>
        <button class="back-button" onclick="goBack()">뒤로가기</button>

        <script>
            function goBack() {
                window.history.back();
            }
        </script>
    </body>
</html>
